<div ng-controller="DeviceFixDisplayController" style="padding-top:20px;">
    <div>
        <button ng-click="addDeviceProperty()">Add Property</button>
        <input placeholder="Device Name" ng-model="deviceName" type="text" />
        <input placeholder="Property" ng-model="property" type="text" />
        <input placeholder="Field" ng-model="field" type="text" />
        <input placeholder="Selector" ng-model="selector" type="text" />
    </div>
    <br><br>
    <table>
        <tr>
            <th>
                Device/Property#field
            </th>
            <th>
                Selector
            </th>
            <th>
                Value
            </th>
            <th>

            </th>
        </tr>
        <tr ng-repeat="devicePropertyField in model.deviceList">
            <td width="30%">
                {{devicePropertyField.deviceName+"/"+devicePropertyField.property+"#"+devicePropertyField.field}}
            </td>
            <td width="20%">
                {{devicePropertyField.selector}}
            </td>
            <td width="40%" ng-class="{'ok': devicePropertyField.value<400, 'error': devicePropertyField.value>=400}">
                {{devicePropertyField.value}}
            </td>
            <td>
                <button ng-click="removeDeviceProperty(devicePropertyField)">Remove</button>
            </td>
        </tr>
    </table>
</div>